name: Kiral Build

on: [push, workflow_dispatch]

jobs:
  # --- LINUX ÝÇÝN DERLEME ---
  linux_build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true # Yan kütüphaneleri de çeker

    # Linux için gerekli tonla kütüphaneyi yüklüyoruz
    - name: Kutuphaneleri Yukle
      run: |
        sudo apt update
        sudo apt install -y build-essential libtool mesa-common-dev libxext-dev libxcursor-dev ladspa-sdk libxcomposite-dev libsystemd-dev autoconf libxxf86vm-dev libgl1-mesa-dev libxinerama-dev libx11-dev libltdl-dev libgtk-4-dev libglib2.0-dev libspeechd-dev libudev-dev linux-libc-dev libxrandr-dev libxrender-dev libwayland-dev pkg-config xorg-dev libglu1-mesa-dev libxft-dev libgsasl-dev clang python3-jinja2 zip gcc-aarch64-linux-gnu g++-aarch64-linux-gnu autoconf autoconf-archive automake libtool

    # NVGT'nin kendi kütüphanelerini hazýrlýyoruz (Þifresiz)
    - name: Bagimliliklari Derle
      run: python3 vcpkg/build_dependencies.py --archive

    # Asýl derleme iþlemi (Scons ile)
    - name: Derle Baba
      run: |
        pip3 install scons
        sudo chmod +x build/build_linux.sh
        ./build/build_linux.sh ci

    # Sonucu paketleyip sana sunuyoruz
    - uses: actions/upload-artifact@v4
      with:
        name: linux_cikti
        path: 'release'

  # --- WINDOWS ÝÇÝN DERLEME ---
  windows_build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.25.1'

    # NVGT kütüphaneleri (Windows versiyonu)
    - name: Bagimliliklari Derle
      run: python3 vcpkg/build_dependencies.py --archive

    # Derleme iþlemi
    - name: Derle Baba
      run: |
        pip3 install scons
        choco install -y upx
        scons -s no_upx=0

    # Sonucu paketleyip sana sunuyoruz
    - uses: actions/upload-artifact@v4
      with:
        name: windows_cikti
        path: 'release'